*{
    font-family: 'Quicksand' , sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}
.my-bgc{
    background-image: url('https://cdn.discordapp.com/attachments/670423238077054986/1084068564174123028/mannaggia_al_dio_ladrone.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.my-container{
   max-width: 1000px;
   margin: 0 auto;
}

//https://images5.alphacoders.com/942/thumb-1920-942228.jpg